aiofiles
alembic
biopython
clustalw
fastapi[all]
muscle
ncbi-datasets-cli
passlib[bcrypt]
psycopg2-binary
python-dotenv
python-jose[cryptography]
python-multipart
sqlalchemy
uvicorn[standard]
xmltodict