@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-primary: rgb(31, 41, 55, 0.4);
  --bg-secondary: rgb(31, 41, 55, 0.2);
  --navbar-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .navbar {
    @apply bg-gray-800 bg-opacity-40 shadow-lg;
  }

}

body {
  color: #fff;
  background: rgb(12, 14, 12);
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}