aiofiles
alembic
biopython
celery[redis]
clustalw
fastapi[all]
muscle
ncbi-datasets-cli
passlib[bcrypt]
psycopg2-binary
python-dotenv
python-jose[cryptography]
python-multipart
redis-py
sqlalchemy
uvicorn[standard]
xmltodict